/* CSS by Kaitelynn Blethen */

/*Color Palette
primary-color: #8FBFB2;
secondary-color: #B6BF6F;
accent-color: #D9C8B4;
background-color: #F2ECE4;
text-color: #A67A53;
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    background-color: #F2ECE4;
}